asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.7
django-tailwind==4.2.0
django-browser-reload==1.15.0
psycopg2==2.9.11
python-dotenv==1.1.1
supabase==2.22.3
sqlparse==0.5.3
tzdata==2025.2
gunicorn==23.0.0
whitenoise==6.11.0
