<!-- CONFIRM DELETE BUS MODAL -->
<div class="modal fade" id="confirmDeleteBus" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Delete Bus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      
      <div class="modal-body">
        Are you sure you want to delete this bus?
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a id="deleteBusBtn" class="btn btn-danger">Yes, Delete</a>
      </div>

    </div>
  </div>
</div>
