
.left-panel {
  position: relative;
  color: white;
  overflow: hidden;
}


.left-panel::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/static/bustrackr_app/images/bus_bg.jpg"); 
  background-size: cover;
  background-position: center;
  opacity: 0.30;
  z-index: 0;
}

.left-panel::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #1e3a8a;
  opacity: 0.50;
  z-index: 1;
}

.left-panel-content {
  position: relative;
  z-index: 10;
}

.role-card {
  background: white;
  color: #1e3a8a;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.role-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.login-box {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s ease;
}

.login-form input:focus {
  border-color: #2563eb; 
}

.form-label {
  font-size: 14px;
  font-weight: 600;
}


.submit-btn {
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #1d4ed8;
}


.hidden-slide {
  display: none;
}

.show-slide {
  display: flex;
  flex-direction: column;
}

