.card-stat-chart {
  height: 350px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.table, .legend-item {
  font-size: 0.95rem;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.6) !important;
}
