{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-soft alert-success flex items-center gap-4 mb-3 toast-item opacity-0 -translate-y-5 transition-all duration-500" role="alert">
        <span class="icon-[tabler--circle-check] shrink-0 size-6"></span>
        <p><span class="text-lg font-semibold">Success:</span> {{ message }}</p>
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-soft alert-error flex items-center gap-4 mb-3 toast-item opacity-0 -translate-y-5 transition-all duration-500" role="alert">
        <span class="icon-[tabler--alert-triangle] shrink-0 size-6"></span>
        <p><span class="text-lg font-semibold">Error:</span> {{ message }}</p>
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-soft alert-warning flex items-center gap-4 mb-3 toast-item opacity-0 -translate-y-5 transition-all duration-500" role="alert">
        <span class="icon-[tabler--alert-triangle] shrink-0 size-6"></span>
        <p><span class="text-lg font-semibold">Warning:</span> {{ message }}</p>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}