<div class="alerts-container">
  {% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success
                      {% elif message.tags == 'error' %}alert-error
                      {% elif message.tags == 'warning' %}alert-warning
                      {% endif %}">
      
      <!-- Icon -->
      {% if message.tags == "success" %}
        <span class="iconify" data-icon="tabler:circle-check"></span>
      {% elif message.tags == "error" %}
        <span class="iconify" data-icon="tabler:alert-octagon"></span>
      {% elif message.tags == "warning" %}
        <span class="iconify" data-icon="tabler:alert-triangle"></span>
      {% endif %}

      <span class="alert-text">{{ message }}</span>
    </div>
  {% endfor %}
</div>
