<div class="row g-3 mb-4">
  <div class="col-md-4">
    <div class="card p-3 text-white text-center border-0 shadow-sm" style="background-color: #19aef0;">
      <p class="mb-1">Active Buses</p>
      <h3 class="fw-bold">{{ active_buses_count }}</h3>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card p-3 text-white text-center border-0 shadow-sm" style="background-color: #19aef0;">
      <p class="mb-1">Inactive Buses</p>
      <h3 class="fw-bold">{{ inactive_buses_count }}</h3>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card p-3 text-white text-center border-0 shadow-sm" style="background-color: #19aef0;">
      <p class="mb-1">Passengers Today</p>
      <h3 class="fw-bold">0</h3>
    </div>
  </div>
</div>

