<div class="dashboard-overview">
  <h4 class="mb-4">Dashboard Overview</h4>

  <!-- Stats Row -->
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <div class="card-stat">
        <p>Active Buses</p>
        <h3>24</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-stat">
        <p>Delays</p>
        <h3>24</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-stat">
        <p>Passengers Today</p>
        <h3>24</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-stat">
        <p>Completed Trips</p>
        <h3>24</h3>
      </div>
    </div>
  </div>


 
</div>
