{% extends 'bustrackr_app/staff_dashboard.html' %}
{% block content %}
<div class="page-container">
    <h2>Seat Availability</h2>
    <table>
        <thead>
            <tr>
                <th>Plate No.</th>
                <th>Route</th>
                <th>Total Seats</th>
                <th>Occupied</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>---</td>
                <td>Cebu - Toledo</td>
                <td>45</td>
                <td>32</td>
                <td>13</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
