{% extends 'bustrackr_app/staff_dashboard.html' %}
{% block content %}
<div class="page-container">
    <h2>Bus Overview</h2>
    <table>
        <thead>
            <tr>
                <th>Plate No.</th>
                <th>Company</th>
                <th>Driver</th>
                <th>Capacity</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
