{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BusrTackr Cebu</title>

  <link rel="stylesheet" href="{% static 'bustrackr_app/css/input.css' %}">
</head>
<body>

  {% include 'components/header.html' %}
  {% include 'components/navigation.html' %}

  <main>

    <section class="hero-section">
      <h2>Real-Time Bus Your Fingertips</h2>
      <p>
        Stay updated with live bus schedules, seat availability, and departure times for a smoother travel experience in Cebu.
      </p>
      <ul>
        <li>Lve bus schedules and arrival times</li>
        <li>Real-time seat availability</li>
        <li>Instant departure notifications</li>
        <li>Terminal staff dashboard</li>
        <li>Mobile-friendly interface</li>
      </ul>
    </section>

    <section class="container mx-auto px-6">
      <div class="container-white">
        <div>
          <h3>Find Your Bus</h3>
          <div class="flex space-x-2 mb-4">
            <input type="text" placeholder="Search..." class="search-input">
            <button class="search-button">Filter</button>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4">
            <select class="search-input"><option>All Terminal</option></select>
            <select class="search-input"><option>All Routes</option></select>
            <select class="search-input"><option>All Departure</option></select>
            <select class="search-input"><option>All Status</option></select>
          </div>
          <div class="flex justify-end space-x-3">
            <button class="clear-button">Clear All</button>
            <button class="apply-button">Apply Filters</button>
          </div>
        </div>

        <div class="mt-8">
          <h3>Bus Schedule</h3>
          <div class="schedule-card border-l-4 border-green-500">
            <div><h4>Cebu to Bohol</h4><p>Departure: 3:20PM<br>Est. Arrival: 5:00PM</p></div>
            <span class="on-time">On-Time</span>
          </div>
          <div class="schedule-card border-l-4 border-yellow-500">
            <div><h4>Cebu to Oslob</h4><p>Departure: 3:20PM<br>Est. Arrival: 5:20PM</p></div>
            <span class="boarding">Boarding Now</span>
          </div>
          <div class="schedule-card border-l-4 border-orange-500">
            <div><h4>Cebu to Dumaguete</h4><p>Departure: 3:20PM<br>Est. Arrival: 7:00PM</p></div>
            <span class="delayed">Delayed</span>
          </div>
          <div class="schedule-card border-l-4 border-red-500">
            <div><h4>Cebu to Dumaguete</h4><p>Departure: 3:20PM<br>Est. Arrival: 7:00PM</p></div>
            <span class="cancelled">Cancelled</span>
          </div>
        </div>

      </div>
    </section>

  </main>

  

</body>
</html>
